include ../../components/section-title/section-title
include ../../components/section-descr/section-descr

mixin testimonials(testimonials)
 section.testimonials
  .container
   .row.row--margin-x--0
    .col-12
     +section-title.text-center Our Clients Say
     +section-descr.text-center Our in - house search engine experts deliver profitable Google, Bing, Yahoo Ranking.
