@import '../../components/logo/logo';
@import '../../components/list-links-1/list-links-1';
@import '../../components/btn-link/btn-link';
@import '../../components/hamburger/hamburger';

.header {
 min-height: 80px; // .header .btn-link
 @include lg {
  .list-links-1 {
   margin-top: 0;
   display: none;
   background-color: $brand-7_1;
   border-radius: 15px;
   box-shadow: 0 0 53px 0 rgba($brand-1_1, 0.07);
   transform: translate(-25%, 0);
   @include sizeMh(230px, 250px);
   @include p(absolute, 0, 100%);
   // @include p(relative, 40px, 0);
   &:before {
    z-index: 10;
    display: block;
    box-sizing: content-box;
    content: '';
    border-width: 0 15px 15px 15px;
    border-style: solid;
    border-color: transparent transparent $brand-7_1 transparent;
    transform: translate(-50%, 0);
    @include p(absolute, -15px, 50%);
    @include size(0);
   } // .header @include lg .list-links-1:before

   .__ul {
    flex-direction: column;
   } // .header @include lg .list-links-1 .__ul
   // display: none;
  } // .header @include lg .list-links-1

  .d-flex.justify-content-end.align-items-center {
   display: block !important;
  } // .header @include lg .d-flex.justify-content-end.align-items-center
 } // .header @include lg
 .logo {
  margin-top: 16px;
 } // .header .logo
 .list-links-1 {
  padding-top: 13px;
  padding-right: 13px;
 } // .header .list-links-1
 .btn-link {
  margin-top: 18px;
 }
} // .header
