.img-scene-need {
 position: absolute;
 top: -1px;
 right: 50%;
 opacity: 0.5;
 left: auto;
 margin-right: 0;
 width: px-to-vw(945);
 max-width: 945px;
 @include md {
  margin-top: 30px;
  width: 100%;
  @include p(relative);
 } // .scene-1__img--solutions @include md
} // .img-scene-need
