append vars
 -
  const menu = [
  {
   "title": "Home",
   "href": "#"
  },
  {
   "title": "About Us",
   "href": "#"
  },
  {
   "title": "Services",
   "href": "#"
  },
  {
   "title": "Features",
   "href": "#"
  },
  {
   "title": "Team",
   "href": "#"
  },
  {
   "title": "Blog",
   "href": "#"
  },
  {
   "title": "Contact",
   "href": "#"
  }
  ];

  const partners = [
  {
   "img": "p1.svg",
   "alt":"alt",
   "title":"title",
   "href": "#",
  },
  {
   "img": "p2.svg",
   "alt":"alt",
   "title":"title",
   "href": "#",
  },
  {
   "img": "p3.svg",
   "alt":"alt",
   "title":"title",
   "href": "#",
  },
  {
   "img": "p4.svg",
   "alt":"alt",
   "title":"title",
   "href": "#",
  },
  {
   "img": "p5.svg",
   "alt":"alt",
   "title":"title",
   "href": "#",
  },
  {
   "img": "p6.svg",
   "alt":"alt",
   "title":"title",
   "href": "#",
  },
  ];

  const privilege = [
  {
   "title": "Grow Your Business",
   "descr": "Leverage agile frameworks to provide a robust synopsis for high level overviews.",
   "icon": "icon-grow",
   "color": "light-orange",
   "icon_width": "27.78",
   "icon_height": "25",
   "href": "#"
  },
  {
   "descr": "Leverage agile frameworks to provide a robust synopsis for high level overviews.",
   "title": "Get Quality Ieads",
   "icon": "icon-flash",
   "color": "light-green",
   "icon_width": "25",
   "icon_height": "22.92",
   "href": "#"
  },
  {
   "title": "Drive More Sales",
   "descr": "Leverage agile frameworks to provide a robust synopsis for high level overviews.",
   "icon": "icon-pricetags",
   "color": "light-yellow",
   "icon_width": "23",
   "icon_height": "18.75",
   "href": "#"
  },
  ];

  const choose = [
  {
   "title": "Keyword Research",
   "descr": "Business applications through revolutionary catalysts for chang the Seamlessly underwhelm dures.",
   "imgSrc": "ill-choose-1.jpg",
   "imgAlt":"alt",
   "imgTitle":"title",
   "href": "#"
  },
  {
   "title": "Seo Optimazadion",
   "descr": "Business applications through revolutionary catalysts for chang the Seamlessly underwhelm dures.",
   "imgSrc": "ill-choose-2.jpg",
   "imgAlt":"alt",
   "imgTitle":"title",
   "href": "#"
  },
  {
   "title": "Social Marketing",
   "descr": "Business applications through revolutionary catalysts for chang the Seamlessly underwhelm dures.",
   "imgSrc": "ill-choose-3.jpg",
   "imgAlt":"alt",
   "imgTitle":"title",
   "href": "#"
  },
  ];

  const need = [
  {
   "title": "Social Media Marketing",
   "descr": "Business applications through revolutionary catalysts for chang the Seamlessly underwhelm dures.",
   "color": "light-orange",
   "icon": "icon-globe",
   "icon_width": "33.33",
   "icon_height": "",
   "href": "#"
  },
  {
   "title": "Email Marketing",
   "descr": "Business applications through revolutionary catalysts for chang the Seamlessly underwhelm dures.",
   "color": "light-green",
   "icon": "icon-email",
   "icon_width": "33.33",
   "icon_height": "",
   "href": "#"
  },
  {
   "title": "SEO Optimization",
   "descr": "Business applications through revolutionary catalysts for chang the Seamlessly underwhelm dures.",
   "color": "light-yellow",
   "icon": "icon-pie",
   "icon_width": "33.33",
   "icon_height": "",
   "href": "#"
  },
  ];

  const result = [
  {
   "title": "95",
   "descr": "Happy Clients",
   "color": "red-dot",
   "icon": ""
  },
  {
   "title": "115",
   "descr": "Project Done",
   "color": "green-dot",
   "icon": ""
  },
  {
   "title": "8+",
   "descr": "Years Of Experince",
   "color": "yellow-dot",
   "icon": ""
  },
  {
   "title": "12",
   "descr": "National Awards",
   "color": "",
   "icon": ""
  },
  ];

  const plans = [
  {
   "title": "Plus",
   "price": "30",
   "list": ["50GB Bandwidth", "Business & Financ Analysing", "24 Hour Support", "Customer Managemet"],
   "href": "#",
  },
  {
   "title": "Beginer",
   "price": "55",
   "list": ["50GB Bandwidth", "Business & Financ Analysing", "24 Hour Support", "Customer Managemet"],
   "href": "#",
  },
  {
   "title": "Advanced",
   "price": "129",
   "list": ["50GB Bandwidth", "Business & Financ Analysing", "24 Hour Support", "Customer Managemet"],
   "href": "#",
  },
  ];

  const team = [
  {
   "title": "Nattasha",
   "descr": "Web Develper",
   "imgSrc": "e1.png",
   "href": "#",
   "soc": { "fb":"#", "tw":"#", "ln":"#", "gp":"#"}
  },
  {
   "title": "John Doe",
   "descr": "Web Designer",
   "imgSrc": "e2.png",
   "href": "#",
   "soc": { "fb":"#", "tw":"#", "ln":"#", "gp":"#"}
  },
  {
   "title": "Haris Milas",
   "descr": "Ceo & Co-Funder",
   "imgSrc": "e3.png",
   "href": "#",
   "soc": { "fb":"#", "tw":"#", "ln":"#", "gp":"#"}
  },
  {
   "title": "Nelson Mecoy",
   "descr": "Web Designer",
   "imgSrc": "e4.png",
   "href": "#",
   "soc": { "fb":"#", "tw":"#", "ln":"#", "gp":"#"}
  },
  ];

  const client = [
  {
   "title": "Rabith Halson",
   "position": "Web Design",
   "descr": "At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint cupiditate non provident.",
   "imgSrc": "p1.png",
   "href": "#"
  },
  {
   "title": "Rabith Halson",
   "position": "Web Design",
   "descr": "At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint cupiditate non provident.",
   "imgSrc": "p1.png",
   "href": "#"
  },
  {
   "title": "Selena Roy",
   "position": "UI design",
   "descr": "At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint cupiditate non provident.",
   "imgSrc": "p2.png",
   "href": "#"
  },
  {
   "title": "Selena Roy",
   "position": "UI design",
   "descr": "At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint cupiditate non provident.",
   "imgSrc": "p2.png",
   "href": "#"
  },
  ];

  const news = [
  {
   "title": "How to become a new digital marketing idea?",
   "descr": "On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure.",
   "imgSrc": "p1.png",
   "href": "#",
   "info": [
    {"icon":"icon-admin","txt":"32 Love"},
    {"icon":"icon-favorite","txt":"32 Love"},
    {"icon":"icon-message","txt":"13 Comment"}
   ]
  },
  {
   "title": "How to become a new digital marketing idea?",
   "descr": "On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure.",
   "imgSrc": "p1.png",
   "href": "#",
   "info": [
    {"icon":"icon-admin","txt":"32 Love"},
    {"icon":"icon-favorite","txt":"32 Love"},
    {"icon":"icon-message","txt":"13 Comment"}
   ]
  },
  {
   "title": "How to become a new digital marketing idea?",
   "descr": "On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure.",
   "imgSrc": "p1.png",
   "href": "#",
   "info": [
    {"icon":"icon-admin","txt":"32 Love"},
    {"icon":"icon-favorite","txt":"32 Love"},
    {"icon":"icon-message","txt":"13 Comment"}
   ]
  },
  ];

  const footerCompany = [
  {
   "title": "About Us",
   "href": "#"
  },
  {
   "title": "Our Services",
   "href": "#"
  },
  {
   "title": "Our Plan",
   "href": "#"
  }, {
   "title": "Our Team",
   "href": "#"
  }, {
   "title": "Latest News",
   "href": "#"
  }
  ]

  const footerServices = [
  {
   "title": "Digital Marketing",
   "href": "#"
  },
  {
   "title": "SEO Optimazation",
   "href": "#"
  }, {
   "title": "Web Development",
   "href": "#"
  }, {
   "title": "Link Building",
   "href": "#"
  }, {
   "title": "Terms & Privacy",
   "href": "#"
  }
  ]
